@media (max-width: 576px) {
    .container{
        max-width: 92vw;
      }
      #area
      {
        overflow-x: scroll!important;
      }
      #area table
      {
        width: 300%!important;
      }
    }

      
    @media (min-width: 576px) {
    .container{
        max-width: 94vw;
      }
      #area
      {
        overflow-x: scroll!important;
      }
      #area table
      {
        width: 250%!important;
      }
    }

    @media (min-width: 768px) {
    .container{
        max-width: 92vw;
      }
      #area
      {
        overflow-x: scroll!important;
      }
      #area table
      {
        width: 180%!important;
      }
    }

    @media (min-width: 992px) {
    .container{
        max-width: 95vw;
      }
      #area
      {
        overflow-x: scroll!important;
      }
      #area table
      {
        width: 130%!important;
      }
    }

    @media (min-width: 1200px) {
    .container{
        max-width: 1200px;
      }
      #area
      {
        overflow-x: hidden!important;
      }
      #area table
      {
        width: 100%!important;
      }

    }  

.table-body
		{
			margin-top:20px;
			margin-bottom: 70px;
			padding-bottom:20px;
			background-color: rgba(245,245,220,0.7);
			box-shadow: 10px 10px 15px grey;
		}
		

    .label1
    {
    	font-size: 19px;
    	font-family:for_label1;
    	margin-left: 6px;
    }
    .heading
		{
			text-align: center;
			padding-top: 10px;
			vertical-align: middle;
			padding-bottom: 10px;
			margin-bottom: 20px;
			font-size:40pt;
			font-family: for_heading;
			background-color: rgb(0,71,71);
			color:white;
		}

		label
		{
			float: right; font-size: 19px;
			font-family: for_label1;
		}
		input,select
		{
			border:1px solid black!important;
			font-size: 16px!important;
			margin-left: 15px;
		}

		#area table
		{
			margin:auto;
			border-collapse:collapse!important;
			width: 900px;
			border:4px solid rgb(0,71,71);
			background-color: rgba(255,255,255,0.7)!important;
		}
		
		#area
		{
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#area th
		{
			border-top:none!important;
			text-align: center;
			border-bottom: 3px solid rgb(0,71,71);
			color:white;
			font-family: for_label1;
			border-right: 3px solid rgb(0,71,71);
			font-size: 19px;
			background-color: #008888;
		}
		
		#area td
		{
			border-right: 3px solid rgb(0,71,71);
			border-bottom: 0.5px solid rgb(0,71,71);
			vertical-align: middle;
		}